@model List<Casgem.Api.Consume1.Dtos.CategoryDtos.ResultCategoryDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Kategori Listesi</h1>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Kategori Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach(var item in Model){
        <tr>
            <td>@item.CategoryId</td>
            <td>@item.CategoryName</td>
            <td><a href="/Category/DeleteCategory/@item.CategoryId" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/Category/UpdateCategory/@item.CategoryId" class="btn btn-outline-success">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/Category/AddCategory" class="btn btn-outline-primary">Yeni Kategori</a>