@model Casgem.Api.Consume1.Dtos.CustomerDtos.UpdateCustomerDto
@{
    ViewData["Title"] = "UpdateCustomer";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1> Müşteri Güncelleme Sayfası</h1>

<form method="post">
    <input type="hidden" asp-for="CustomerId" />
    <label>Müşteri Adı</label>
    <input type="text" class="form-control border" style="background-color:black" asp-for="Name" />
    <br />
    <label>Şehir</label>
    <input type="text" class="form-control border" style="background-color:black" asp-for="City" />
    <br />
    <button class="btn btn-primary">Kaydet</button>
</form>